---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Simon & Kayla">
	<main>
		<a href="/login">Login</a>
		<a href="/api/logout">Logout</a>
		<a href="/rsvp">RSVP</a>
	</main>
</Layout>
