---
import Layout from "../layouts/Layout.astro";
const { cookies, redirect } = Astro;

const error = Astro.url.searchParams.get("error")! || "";
console.log(error);

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/rsvp");
}
---

<Layout title="Login">
  <div class="text-xl min-h-screen grid place-content-center">
    <form
      method="POST"
      action="/api/login"
      class="flex flex-col bg-kaylasCoolColor/80 gap-4 rounded-md border border-slate-600 p-4"
    >
      <input
        class="rounded-md p-2 text-slate-900"
        type="text"
        name="email"
        placeholder="Username"
      />
      <input
        class="rounded-md p-2 text-slate-900"
        type="password"
        name="password"
        placeholder="Password"
      />
      {error && <p class="text-red-500 text-lg font-bold">{error}</p>}
      <input
        type="submit"
        value="Login"
        class="text-white rounded-md border border-slate-700 bg-simonsCoolColor py-4 text-xl font-bold hover:bg-simonsCoolColor/50"
      />
    </form>
  </div>
</Layout>
