---
import Layout from '../layouts/Layout.astro';
import { supabase } from '../lib/supabase';

const errors = {message: ''};
const { data, error } = await supabase.auth.getSession();
const session = data.session;
if (error) {
  console.error(error);
}

if (Astro.request.method === 'POST') {
  const form = await Astro.request.formData();
  const email = form.get('email')?.toString().trim();
  const password = form.get('password')?.toString().trim();

  if (!email || !password) {
    errors.message = 'invalid email or password'
  } else {
    const { error } = await supabase.auth.signInWithPassword({email, password});
    if (error) {
      errors.message = error.message;
    } else {
      return Astro.redirect('/rsvp')
    }
  }
}

if (Astro.request.method === 'GET' && session) {
  return Astro.redirect('/')  
}
---

<Layout title="Login">
  <div class="text-xl min-h-screen grid place-content-center">
    <form class="flex flex-col gap-2 *:px-3 *:py-2" method="POST">
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      {errors.message && <p>{errors.message}</p>}
      <input type="submit" value="Login">
    </form>
  </div>
</Layout>