---
import FoodPreferenceBadge from "../components/FoodPreferenceBadge.astro";
import HorizontalBar from "../components/HorizontalBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Menu">
  <main
    class="bg-kaylasCoolColor/80 mx-auto flex min-h-[calc(100vh+1rem)] w-full flex-col px-4 text-slate-700 sm:max-w-screen-sm md:max-w-screen-md"
  >
    <div class="mr-auto mt-5 flex flex-row justify-center items-baseline gap-3">
      <a href="/" class="relative grid place-content-center">
        <img
          class="h-8 w-8 sm:h-5 sm:w-5 md:h-7 md:w-7"
          src="/heart.svg"
          alt="Heart"
        />
      </a>
      <h1 class="text-4xl">Menu</h1>
    </div>

    <HorizontalBar />

    <h1 class="ml-auto mr-auto mt-4 text-xl font-bold">
      Please specify all food-related allergies or preferences when you RSVP!
    </h1>

    <div class="mt-4 flex flex-row justify-start gap-2 flex-wrap">
      <div class="flex items-center gap-2">
        <FoodPreferenceBadge label="GF" /> Gluten Free
      </div>
      <div class="flex items-center gap-2">
        <FoodPreferenceBadge label="NF" /> Nut Free
      </div>
      <div class="flex items-center gap-2">
        <FoodPreferenceBadge label="V" /> Vegetarian
      </div>
      <div class="flex items-center gap-2">
        <FoodPreferenceBadge label="VG" /> Vegan
      </div>
      <div class="flex items-center gap-2">
        <FoodPreferenceBadge label="DF" /> Dairy Free
      </div>
    </div>

    <HorizontalBar />

    <div class="flex flex-col gap-2">
      <div class="flex flex-row justify-between w-full">
        <div class="flex flex-col gap-1">
          <h1 class="text-xl font-bold">Harvest Apple Salad</h1>
          <p>
            Dried cranberries, smoked gouda, sugared pecans, mixed greens, cider
            vinaigrette.
          </p>
        </div>
        <div class="flex flex-row gap-2">
          <FoodPreferenceBadge label="V" />
          <FoodPreferenceBadge label="GF" />
        </div>
      </div>

      <div class="col-span-2 my-4 h-[3px] w-full border border-slate-700"></div>

      <div class="flex flex-row justify-between w-full">
        <div class="flex flex-col gap-1">
          <h1 class="text-xl font-bold">Zinfandel Braised Short Ribs</h1>
          <p>Slow braised, rich zinfandel jus, gremolata.</p>
        </div>
        <div class="flex flex-row gap-2">
          <FoodPreferenceBadge label="NF" />
          <FoodPreferenceBadge label="DF" />
        </div>
      </div>

      <div class="flex flex-row justify-between w-full">
        <p class="text-lg font-normal">
          Sides: Black Truffle Mashed Potatoes & Broccolini
        </p>
      </div>

      <div class="col-span-2 my-4 h-[3px] w-full border border-slate-700"></div>

      <div class="flex flex-row justify-between w-full">
        <div class="flex flex-col gap-1">
          <h1 class="text-xl font-bold">Vintners Chicken</h1>
          <p>Herb marinated chicken breast, fire-roasted tomato fig sauce.</p>
        </div>
        <div class="flex flex-row gap-2">
          <FoodPreferenceBadge label="NF" />
          <FoodPreferenceBadge label="DF" />
          <FoodPreferenceBadge label="GF" />
        </div>
      </div>

      <div class="flex flex-row justify-between w-full">
        <p class="text-lg font-normal">
          Sides: Mashed Potatoes & Asparagus Spears
        </p>
      </div>

      <div class="col-span-2 my-4 h-[3px] w-full border border-slate-700"></div>

      <div class="flex flex-row justify-between w-full">
        <div class="flex flex-col gap-1">
          <h1 class="text-xl font-bold">Quinoa Stuffed Orange Peppers</h1>
          <p>Zucchini, basil, haricot vert, tomato coulis.</p>
        </div>
        <div class="flex flex-row flex-wrap gap-2 justify-end">
          <FoodPreferenceBadge label="V" />
          <FoodPreferenceBadge label="VG" />
          <FoodPreferenceBadge label="NF" />
          <FoodPreferenceBadge label="GF" />
          <FoodPreferenceBadge label="DF" />
        </div>
      </div>

      <div class="flex flex-row justify-between w-full">
        <p class="text-lg font-normal">
          Sides: Tri Color Pee Wee Potatoes & Tri Color Carrots
        </p>
      </div>
      <div class="col-span-2 my-4 h-[3px] w-full border border-slate-700"></div>
    </div>
  </main>
</Layout>

<style></style>
