---
import Layout from "../layouts/Layout.astro"
import EmbedMap from '../components/EmbedMap.astro'
---
<Layout title="Travel">
  <main class="px-4 bg-kaylasCoolColor/80 mx-auto flex min-h-screen w-full flex-col text-slate-700 sm:max-w-screen-sm md:max-w-screen-md">
    <div class="mt-5 flex flex-row items-center justify-center gap-3">
      <a href="/" class="relative -top-[4px] grid place-content-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-home"><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/><polyline points="9 22 9 12 15 12 15 22"/></svg>
      </a>
      <h1 class="text-3xl ">Travel</h1>
      <ul class="text-xl full flex flex-row w-full items-center justify-around">
        <li><a href="#venue">Venue</a></li>
        <li><a href="#airports">Airports</a></li>
        <li><a href="#hotels">Hotels</a></li>
      </ul>
    </div>
    
    <div class="my-4 h-[3px] w-full border-slate-700 border" />
    <h1 id="venue" class="my-4 text-2xl text-center">Maravilla Gardens - Camarillo, CA</h1>
    <div class="relative w-full h-[400px] border-2 border-kaylasCoolColor">
      <EmbedMap />
    </div>

    <div class="my-4 h-[3px] w-full border-slate-700 border" />
    
    <h1 id="airports" class="my-4 text-2xl">Airports <span class="text-lg">(and approximate driving time to venue)</span></h1>
    <ul>
      <li><a href="">Hollywood Burbank Airport - 45 minutes</a></li>
      <li><a href="">Los Angeles International Airport - 1 hour</a></li>
      <li><a href="">Long Beach Airport - 1.5 hours</a></li>
    </ul>

    <div class="my-4 h-[3px] w-full border-slate-700 border" />

    <h1 id="hotels" class="my-4 text-2xl">Hotels <span class="text-lg">(and approximate driving time to venue)</span></h1>
    <ul class="mb-32">
      <li><a href="">Hotel 1</a></li>
      <li><a href="">Hotel 2</a></li>
      <li><a href="">Hotel 3</a></li>
    </ul> 
  </main>
</Layout>