---
import '@fontsource-variable/josefin-sans';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<a rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
	<style is:global>
		html {
			font-family: 'Josefin Sans Variable', sans-serif;
			@apply bg-kaylasCoolColor
		}
	</style>
</html>
